@charset "utf-8";


/* -- body -------------------------------------------------------------------------------- */

body {
	overflow-y: scroll;
}




/* -- div#confirm_field, dl, dt, dd -------------------------------------------------------------------------------- */

/* div#confirm_field * {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
} */


div#confirm_field {
	width: 1000px;
	margin: 50px auto;
	background: #ffffff;
	line-height: 1.8;
	text-align: center;
	display: none;
}

div#confirm_field h2 {
	width: 90%;
	margin: 0 auto;
	padding: 25px 0;
	font-size: 135%;
	font-weight: bold;
	text-align: center;
}

div#confirm_field dl {
	width: 90%;
	margin: 0 auto;
	border: 1px solid #707070;
	font-size: 18px;
}

div#confirm_field dl:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div#confirm_field dl dt {
	width: 40%;
	float: left;
	padding: 25px 27px;
	text-align: left;
	background-color: #EEEEEE;
	border-right: 1px solid #707070;
}

div#confirm_field dl dd {
	width: 60%;
	float: right;
	padding: 25px 0 25px 28px;
	text-align: left;
}




/* -- button -------------------------------------------------------------------------------- */

div#confirm_field p#confirm_submit {
	width: 826px;
	margin: 0 auto;
	padding: 25px 0;
	display: flex;
	justify-content: space-between;
}

div#confirm_field input[type="button"] {
	padding: 7px 20px;
	border-radius: 10px;
	font-size: 24px;
	color: #ffffff;
	font-family: inherit;
	-webkit-appearance: none;
	box-shadow: 5px 5px 0 #ececec;
	height: 70px;
	width: 100%;
	max-width: 398px;
}

div#confirm_field input#confirm_submit_button {
	background: #0DB99F;
	border: 1px solid #fff;
}

div#confirm_field input#confirm_submit_button:hover {
	cursor: pointer;
	background: #0DB99F;
	border: 1px solid #fff;
}

div#confirm_field input#confirm_cancel_button {
	background: #999999;
	border: 1px solid #fff;
}

div#confirm_field input#confirm_cancel_button:hover {
	cursor: pointer;
	background: #999999;
	border: 1px solid #fff;
}








/* -- responsive ----------------------------------------------------------------------------------------------------------------------- */

/* 768pixel start */
@media screen and ( max-width: 768px ) {


/* -- div#confirm_field, dl, dt, dd -------------------------------------------------------------------------------- */

div#confirm_field {
	width: 95%;
	font-size: 100%;
}

div#confirm_field dl {
	font-size: 23px;
}

div#confirm_field h2 {
	text-align: left;
	font-size: 30px;
}

div#confirm_field dl dt {
	width: auto;
	float: none;
	padding: 25px 0 5px;
	text-align: left;
	font-weight: bold;
	border-right: 0px;
	border-bottom: 1px solid #707070;
}

div#confirm_field dl dt:before {
	content: "【";
}

div#confirm_field dl dt:after {
	content: "】";
}

div#confirm_field dl dd {
	width: auto;
	float: none;
	padding: 0px 0 25px 10px;
}




/* -- button -------------------------------------------------------------------------------- */

div#confirm_field p#confirm_submit {
	width: 90%;
	margin: 0 auto;
	padding: 25px 0;
	display: flex;
	justify-content: center;
}

div#confirm_field input#confirm_submit_button {
	margin-left: 10px;
}


}
/* 768pixel end */








