@charset "UTF-8";
/*===========================================================*/
/*基本
/*===========================================================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Arial', 'Kosugi Maru', sans-serif;
}

#main {
  background-image: url(../images/bg_main.jpg);
  background-repeat: repeat;
  background-size: 840px;
  background-position: top center;
}

.wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.none-sp {
  display: none;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/*===========================================================*/
/*ヘッダー
/*===========================================================*/
header {
  background-color: #fff;
  max-height: 100px;
  padding: 14px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.hd-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.hd-logo {
  width: 36%;
}

.hd-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.hd-tel-sp {
  padding-right: 5px;
}

/*===========================================================*/
/*CPロゴ&期間
/*===========================================================*/
#cp-title {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 25% 30px 0;
}

.cp-logo-date {
  margin: 0 auto;
  max-width: 404px;
}

/*===========================================================*/
/*お得な特典
/*===========================================================*/
#cp-otoku {
  padding: 0 5%;
}

.cp-otoku-contents {
  position: relative;
  background-color: #E95513;
  border: 4px solid #fff;
  border-radius: 10px;
  margin-top: -3px;
  padding: 5%;
}

.cp-otoku-contents h2 {
  text-align: center;
}

.cp-otoku-item div {
  text-align: center;
}

/*===========================================================*/
/*ボタン
/*===========================================================*/
.cp-btn {
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
}

.cp-btn .cp-btn-soudan {
  margin-top: 10%;
  text-align: center;
}

.cp-btn .cp-tel-sp {
  margin-top: 10%;
  text-align: center;
}

/*===========================================================*/
/*サービスの紹介
/*===========================================================*/
.cp-service-inner {
  padding: 0 5%;
  margin: 10% auto 0;
}

.cp-service-title {
  max-width: 1080px;
  margin: 0 auto;
}

.cp-service-contents {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  max-width: 1920px;
  margin: 0 auto;
}

.cp-service-contents img {
  margin-top: 3%;
}

.contents_01 {
  padding: 0 3% 3%;
  margin-top: 15%;
  max-width: 1080px;
}

.contents_02 {
  padding: 0 3% 3%;
  margin-top: 25%;
  max-width: 1080px;
}

.contents_03 {
  padding: 0 3% 3%;
  margin-top: 20%;
  max-width: 1080px;
}

.cp-service-stp img {
  margin-top: -10%;
}

.cp-service-tv-net img {
  margin-top: -20%;
}

.cp-service-net img {
  margin-top: -14%;
}

/*===========================================================*/
/*おすすめポイント
/*===========================================================*/
#cp-osusume {
  padding: 0 5%;
  margin: 10% auto 0;
}

.cp-osusume-inner {
  max-width: 1080px;
  background-color: #FFF586;
  background-image: radial-gradient(#fae843 30%, transparent 30%);
  background-size: 10px 10px;
  border-radius: 10px;
  border: 6px dotted #EC6C00;
  margin: 0 auto;
}

.cp-osusume-contents {
  padding: 5%;
}

.cp-osusume-contents picture img {
  padding-top: 20px;
}

.cp-osusume-title {
  margin-top: -12%;
}

.cp-osusume-chara {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1080px;
}

.cp-osusume-chara img {
  width: 90%;
  margin: -12% auto 0;
}

/*===========================================================*/
/*U30割
/*===========================================================*/
#cp-u30 {
  padding: 0 5%;
  margin: 10% auto 0;
}

.cp-u30-inner {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 5%;
}

.cp-u30-logo {
  max-width: 246px;
  text-align: center;
  margin: 0 auto;
}

.cp-u30-logo img {
  width: 70%;
}

.cp-u30-contents {
  background-color: rgba(201, 239, 242, 0.8);
  padding: 5%;
  margin: 3% auto 0;
  max-width: 1080px;
  text-align: center;
}

.cp-u30-contents img {
  margin-top: 5%;
}

.cp-u30-contents p img {
  margin-top: 0;
}

/*===========================================================*/
/*ワイワイが選ばれる理由
/*===========================================================*/
#cp-riyuu {
  background-image: url(../images/chara_riyuu.png), url(../images/bg_riyuu.png);
  background-repeat: no-repeat , repeat-x;
  background-size: 90%, 70%;
  background-position: bottom 1.5% center , bottom center;
  padding: 0 5% 25%;
  margin: 10% auto 0;
}

.cp-riyuu-inner {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.cp-riyuu-contents img {
  margin-top: 5%;
}

/*===========================================================*/
/*ご利用までの流れ
/*===========================================================*/
#cp-nagare {
  background-color: #fff;
  margin-top: -1px;
  padding: 0 5% 10%;
}

.cp-nagare-title {
  text-align: center;
  max-width: 460px;
  margin: 0 auto;
}

.cp-nagare-title img {
  width: 80%;
}

.cp-nagare-contents {
  padding-top: 3%;
}

/*===========================================================*/
/*よくあるご質問
/*===========================================================*/
#cp-qa {
  background-color: #FFF;
  background-image: radial-gradient(#fae843 30%, transparent 30%);
  background-size: 10px 10px;
  padding: 10% 5%;
}

.cp-qa-title {
  text-align: center;
  max-width: 380px;
  margin: 0 auto;
}

.cp-qa-title img {
  width: 80%;
}

.cp-qa-contents {
  max-width: 1080px;
  margin: 0 auto;
}

.cp-qa-contents img {
  padding-top: 30px;
}

/*===========================================================*/
/*お問い合わせ
/*===========================================================*/
#cp-form {
  background-color: #fff;
  padding: 10% 0;
}

.cp-form-title {
  text-align: center;
  max-width: 356px;
  margin: 0 auto;
}

.cp-form-title img {
  width: 80%;
}

.cp-form-toiawase {
  text-align: center;
  padding: 20px 0;
}

/*===========================================================*/
/*注意
/*===========================================================*/
#cp-caution {
  background-color: #E95504;
  padding: 10% 5%;
}

.cp-caution-inner {
  max-width: 1080px;
  margin: 0 auto;
}

.cp-caution-inner p {
  font-size: 18px;
  line-height: 1.8;
  color: #fff;
  text-align: justify;
  text-justify: inter-ideograph;
}

/*===========================================================*/
/*フッター
/*===========================================================*/
#footer {
  background-color: #fff;
  padding: 5%;
}

.footer-inner {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.footer-inner p {
  font-size: 14px;
  line-height: 1.6;
}

/*===========================================================*/
/*ページトップ
/*===========================================================*/
#page-top a {
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(233, 85, 4, 0.8);
  width: 80px;
  height: 80px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#page-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

#page-top.LeftMove {
  -webkit-animation: LeftAnime 0.5s forwards;
          animation: LeftAnime 0.5s forwards;
}

@-webkit-keyframes LeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#page-top.RightMove {
  -webkit-animation: RightAnime 0.5s forwards;
          animation: RightAnime 0.5s forwards;
}

@-webkit-keyframes RightAnime {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes RightAnime {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@media (min-width: 768px) {
  /******************************************************************

Stylesheet: 768px以上のタブレットやモニタで適用

******************************************************************/
  .none-sp {
    display: block;
  }
  .none-pc {
    display: none;
  }
  /*===========================================================*/
  /*ヘッダー
/*===========================================================*/
  header {
    padding: 0;
  }
  .hd-inner {
    height: 80px;
  }
  .hd-logo img {
    max-width: 192px;
  }
  .hd-contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hd-tel-pc {
    padding-right: 10px;
  }
  .hd-tel-pc img {
    max-width: 226px;
  }
  .hd-btn img {
    max-width: 240px;
  }
  /*===========================================================*/
  /*CPロゴ&期間
/*===========================================================*/
  #cp-title {
    padding: 120px 50px 0;
  }
  .cp-logo-date {
    margin: -3% auto;
  }
  /*===========================================================*/
  /*お得な特典
/*===========================================================*/
  #cp-otoku {
    margin-top: -50px;
  }
  .cp-otoku-contents {
    padding: 3% 2% 2%;
  }
  .cp-otoku-contents h2 {
    margin: 0 auto;
    width: 80%;
  }
  .cp-otoku-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*===========================================================*/
  /*ボタン
/*===========================================================*/
  .cp-btn .cp-btn-soudan {
    margin-left: 3%;
  }
  .cp-btn .cp-tel-pc {
    margin-top: 5%;
    text-align: center;
  }
  /*===========================================================*/
  /*サービスの紹介
/*===========================================================*/
  .cp-service-inner {
    margin: 5% auto;
  }
  .contents_01,
  .contents_02,
  .contents_03 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contents_01 {
    margin: 10% auto 0;
  }
  .contents_02 {
    margin: 16% auto 0;
  }
  .contents_03 {
    margin: 13% auto 0;
  }
  .cp-service-stp img {
    margin-top: -6%;
  }
  .cp-service-tv-net img {
    margin-top: -12%;
  }
  .cp-service-net img {
    margin-top: -8%;
  }
  .cp-service-course {
    width: 49%;
  }
  /*===========================================================*/
  /*おすすめポイント
/*===========================================================*/
  #cp-osusume {
    margin: 15% auto 0;
  }
  .cp-osusume-contents {
    padding: 10%;
  }
  .cp-osusume-title {
    margin-top: -20%;
  }
  .cp-osusume-point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cp-osusume-item {
    width: 49%;
  }
  /*===========================================================*/
  /*U30割
/*===========================================================*/
  #cp-u30 {
    margin: 10% auto 0;
  }
  .cp-u30-logo img {
    width: 80%;
  }
  .cp-u30-contents {
    padding: 3%;
    margin-top: 3%;
  }
  .cp-u30-contents img {
    margin-top: 3%;
  }
  .cp-u30-contents p img {
    margin-top: 0;
    width: 60%;
  }
  .cp-u30-course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cp-u30-course img {
    width: 49%;
    height: 49%;
  }
  /*===========================================================*/
  /*ワイワイが選ばれる理由
/*===========================================================*/
  #cp-riyuu {
    background-position: bottom 4% center , bottom center;
  }
  .cp-riyuu-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cp-riyuu-item {
    width: 48%;
    padding-top: 3%;
  }
  /*===========================================================*/
  /*ご利用までの流れ
/*===========================================================*/
  #cp-nagare {
    padding-bottom: 6%;
  }
  .cp-nagare-contents {
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
  }
  /*===========================================================*/
  /*よくあるご質問
/*===========================================================*/
  #cp-qa {
    padding: 6% 5%;
  }
  /*===========================================================*/
  /*お問い合わせ
/*===========================================================*/
  #cp-form {
    padding: 6% 0 3%;
  }
  /*===========================================================*/
  /*注意
/*===========================================================*/
  #cp-caution {
    padding: 6% 5%;
  }
  /*===========================================================*/
  /*フッター
/*===========================================================*/
  #footer {
    padding: 3% 5%;
  }
  .footer-inner p br {
    display: none;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のタブレットやモニタで適用

******************************************************************/
  /*===========================================================*/
  /*サービスの紹介
/*===========================================================*/
  .contents_01 {
    padding: 0 0 3%;
  }
  .contents_02 {
    padding: 0 0 3%;
  }
  /*===========================================================*/
  /*ワイワイが選ばれる理由
/*===========================================================*/
  #cp-riyuu {
    background-size: 1080px, 800px;
    background-position: bottom 40px center , bottom center;
    padding-bottom: 300px;
  }
}
/*# sourceMappingURL=style.css.map */