//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  MAIN
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

#main {
    overflow: hidden;
}
.mv {
    &__kv-img {
        width: 100%;
        height: 589px;
        padding-top: 80px;
        @include mq(kv) {
            height: auto;
            min-height: 350px;
        }
        @include mq(sp) {
            height: auto;
            padding-top:  100px;
        }
        & img {
            min-height: 589px;
            object-fit: cover;
            object-position: center top;
            @include mq(kv) {
                width: 100%;
                height: auto;
                min-height: 350px;
            }
            @include mq(kv) {
                height: auto;
            }
        }
    }
}
.hd {
    width: 100%;
    height: 80px;
    background-color: #EEEEEE;
    @include mq(sp) {
        height: 100px;
    }
    &__inner {
        max-width: 952px;
        height: 80px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq(sp) {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }

    &__logo {
        max-width: 340px;
        @include mq(sp) {
            width: 218px;
            height: 35px;
            margin: 0 auto;
            padding-top: 5px;
        }
    }
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  PICKUP
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.pickup {
    background-image: url(../img/pickup_bgimg.png);
    background-size: cover;
    width: 100%;
    height: 1659px;
    @include mq(sp) {
        height: auto;
    }

    &__contents {
        padding: 98px 5% 0;
        @include mq(sp) {
            padding: 1px 5% 58px;
            margin-top: -6px;
        }
    }
    &__hl {
        max-width: 966px;
        margin: 25px auto 0 auto;
        @include mq(sp) {
            width: 100%;
            height: auto;
        }

        &-txt {
            max-width: 729px;
            margin: 0 auto;
        }

        &-underline {
            margin: 0 auto;
            max-width: 989px;
        }
    }
    &__item {
        max-width: 1042px;
        margin: 68px auto 0 auto;
        @include mq(sp) {
            width: 100%;
            margin: 41px auto 0 auto;
        }
    }
    &__cost {
        width: 609px;
        height: 153px;
        margin: 0 auto;
        @include mq(sp) {
            width: 316px;
            height: 83px;
        }
        &-txt {
            text-align: center;
            font-size: 25px;
            line-height: 2.5rem;
            margin: 32px 0 72px;
            @include mq(sp) {
                width: 314px;
                text-align: left;
                font-size: 15px;
                line-height: 1.3rem;
                margin: 8px auto 0 auto;
            }
        }
    }
    &__cardbox {
        display: flex;
        justify-content: space-between;
        @include mq(sp) {
            display: block;
            margin: 46px 0 0;
        }
        &-box {
            width: 492px;
            height: 284px;
            @include mq(sp) {
                width: 100%;
                height: auto;
                margin: 0 auto 11px;
            }
            & img {
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                }
            }
        }
        &-img02 {
            & img {
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                }
            }
        }
        &-txt {
            text-align: left;
            font-size: 16px;
            margin-top: 3px;
            line-height: 1.5rem;
            font-weight: 400;
            @include mq(sp) {
                font-size: 12px;
                line-height: 1rem;
                margin-top: 0;
            }
        }
    }
    &__ch {
        max-width: 1052px;
        height: 452px;
        margin: 86px auto 0 auto;
        @include mq(sp) {
            width: 100%;
            height: auto;
            margin: 33px auto 0 auto;
        }
        & img {
            width: 1042px;
            height: 452px;
            @include mq(sp) {
                width: 100%;
                height: auto;
            }
        }
    }
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  PACK
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.pack {
    &__inner {
        padding: 110px 0 131px;
        @include mq(sp) {
            padding: 45px 0 44px;
        }
    }
    &__contents {
        position: relative;
    }

    &__hl {
        max-width: 967px;
        height: 81px;
        margin: 0 auto;
        padding: 0 5%;
        & img {
            margin-left: 0;
            @include mq(sp) {
                margin-left: 0;
            }
        }
        @include mq(sp) {
            width: 100%;
            height: auto;
        }

        &-txt {
            text-align: center;
            font-size: 32px;
            margin: 67px 0;
            @include mq(sp) {
                font-size: 18px;
                margin: 29px 0;
                line-height: 1.3;
            }
        }
    }
    &__img {
        &-main {
            max-width: 1340px;
            margin: 0 auto;
            padding: 0 5%;
            & img {
                margin-left: -15px;
                @include mq(sp) {
                    margin-left: 0;
                }
            }
            @include mq(sp) {
                width: 100%;
                height: auto;
                overflow: hidden;
            }
        }
        &-comp {
            max-width: 1093px;
            margin: 120px auto 90px;
            padding: 0 5%;
            @include mq(sp) {
                width: 100%;
                margin: 0 auto;
            }
            & img {
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                    margin-left: -20px;
                }
            }
        }
    }

    &_bg {
        width: 100%;
        height: 2283px;
        background-image: url(../img/pack_bg.png);
        background-size: cover;
        position: absolute;
        left: 0;
        bottom: -131px;
        z-index: -1;
        @include mq(sp) {
                    background-image: url(../img/pack_bg_sp.png);
                    height: 919px;
                    bottom: -72px;
                }
    }
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  MERIT
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.merit {
    &__topTie {
        & img {
            height:178px;
            object-fit: cover;
            object-position: center top;
            @include mq(sp) {
                height: auto;
            }
        }
    }
    &__contents {
        position: relative;
    }
    &__contents01 {
        padding: 53px 5% 132px;
        @include mq(sp) {
            padding: 26px 0 44px;
        }
        &-ttl {
            max-width: 1005px;
            margin: 0 auto;
            position: relative;
            @include mq(sp) {
                width: 100%;
            }
            &-num {
                width: 156px;
                height: 156px;
                position: absolute;
                top: 0;
                left: 2%;
                @include mq(num) {
                    width: 54px;
                    height: 54px;
                    position: relative;
                    margin: 0 auto;
                }
            }
            &-line {
                width: 360px;
                height: 386px;
                position: absolute;
                top: -75px;
                left: -30%;
            }
            &-hl {
                font-size: 35px;
                text-align: center;
                padding: 17px 0 0 50px;
                line-height: 1.5;
                @include mq(sp) {
                    font-size: 22px;
                    padding: 0;
                }
            }
            & img {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
        &-item {
            margin: -110px 0 0 0;
            @include mq(sp) {
                margin: -90px 0 0 0;
            }
        }
        &-mainbox {
            max-width: 1005px;
            height: auto;
            margin: 0 auto;
            @include mq(sp) {
                max-width: 570px;
                width: 100%;
                padding: 0 5%;
                height: 422px;
            }
            & img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center top;
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                    margin: -30px -40px 0 auto;
                }
            }
        }
        &-favbox {
            max-width: 1065px;
            height: auto;
            margin: 0 auto 38px;
            @include mq(sp) {
                width: 100%;
                height: auto;
            }
            & img {
                @include mq(sp) {
                    margin-left: 12px;
                }
            }
        }
        &-merit {
            margin: 0 auto;
            @include mq(sp) {
                margin: -32px auto 0 auto;
            }
            &01 {
                max-width: 1129px;
                height: auto;
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                    & img {
                        margin-left: 12px;
                    }
                }
            }
            &02 {
                max-width: 1111px;
                height: auto;
                margin: 8px auto 8px;
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                    & img {
                        margin-left: -12px;
                    }
                }
            }
            &03 {
                max-width: 1119px;
                height: auto;
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                    & img {
                        margin-left: 12px;
                    }
                }
            }
        }
    }
    &__contents02 {
        padding: 53px 5% 162px;
        @include mq(sp) {
            padding: 28px 0 25px;
        }
        &-ttl {
            max-width: 1005px;
            margin: 0 auto;
            position: relative;
            @include mq(sp) {
                width: 100%;
            }
            &-num {
                width: 163px;
                height: 156px;
                position: absolute;
                top: 0;
                left: 2%;
                @include mq(num) {
                    width: 54px;
                    height: 54px;
                    position: relative;
                    margin: 0 auto;
                }
            }
            &-hl {
                font-size: 35px;
                text-align: center;
                padding: 17px 0 0 50px;
                line-height: 1.5;
                @include mq(sp) {
                    font-size: 22px;
                    padding: 0;
                    line-height: 1.4;
                }
            }
            & img {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
        &-txt {
            margin-top: 32px;
            text-align: center;
            font-size: 21px;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 26px;
            @include mq(sp) {
                font-size: 17px;
                margin-top: 35px;
            }
        }
        &-merit {
            margin: 0 auto;
            &01 {
                max-width: 1093px;
                height: auto;
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                    & img {
                        margin-left: -12px;
                    }
                }
            }
            &02 {
                max-width: 1093px;
                height: auto;
                margin: 48px auto 48px;
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                    & img {
                        margin-left: -12px;
                    }
                }
            }
            &03 {
                max-width: 1093px;
                height: auto;
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                    & img {
                        margin-left: -12px;
                    }
                }
            }
        }
    }
    &__contents03 {
        padding: 140px 5% 151px;
        height: auto;
        background-color: #c4f4ff;
        @include mq(sp) {
            padding: 52px 5% 38px;
            height: auto;
        }
        &-esports {
            max-width: 963px;
            height: auto;
            margin: 0 auto;
            @include mq(sp) {
                width: 100%;
                height: auto;
            }
        }
    }
    &__warningnote {
        font-size: 12px;
        font-weight: 400;
        max-width: 960px;
        margin: 14px auto 0;
        @include mq(sp) {
            padding: 0 25px 0;
            line-height: 1.2;
        }
    }
    &_bg {
        width: 100%;
        height: 4082px;
        background-image: url(../img/merit_bg.png);
        background-size: cover;
        position: absolute;
        left: 0;
        bottom: 794px;
        z-index: -1;
        @include mq(sp) {
            background-image: url(../img/merit_bg_sp.png);
            height: 4769px;
            bottom: 1122px;
        }
    }
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  OTHER PACK
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.otherpack {
    &__inner {
        background-image: url(../img/otherpack_bg.png);
        background-size: cover;
    }
    &__topTie {
        & img {
            height:178px;
            object-fit: cover;
            object-position: center top;
            @include mq(sp) {
                height: auto;
            }
        }
    }
    &__contents {
        padding: 50px 5% 150px;
        @include mq(sp) {
            padding: 37px 5% 34px;
        }
    }
    &__contents01 {
        max-width: 1150px;
        height: auto;
        padding: 71px 95px 109px;
        margin: 0 auto;
        background-color: $white;
        @include mq(sp) {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 30px 0 37px 0;
        }

        &-pack {
            max-width: 100%;
            height: auto;
            padding: 0 5%;
            @include mq(sp) {
                width: 100%;
            }
            & p {
                margin-bottom: 17px;
                @include mq(sp) {
                    text-align: center;
                    line-height: 1.3;
                }
            }
            & img {
                width: 100%;
                height: auto;
                @include mq(sp) {
                    width: 100%;
                    height: auto;
                    margin: 0 auto;
                }
            }
            &02 {
                margin: 68px 0;
                @include mq(sp) {
                    margin: 40px 0;
                }
            }
            & p {
                font-size: 21px;
                letter-spacing: 2.5px;
                font-weight: 500;
                @include mq(sp) {
                    font-size: 17px;
                    letter-spacing: 0;
                }
            }
        }
    }
    &__contents02 {
        max-width: 1150px;
        height: 530px;
        padding: 49px 95px 109px;
        margin: 0 auto;
        background-color: #fee9fa;
        position: relative;
        @include mq(sp) {
            width: 100%;
            height: auto;
            padding: 19px 5% 36px;
        }

        &-icon {
            width: 174px;
            height: 174px;
            position: absolute;
            top: -5%;
            @include mq(kv) {
                width: 74px;
                height: 74px;
                top: -15px;
                left: -15px;
                -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
            }
        }

        &-txtbox {
            text-align: center;
            & h2 {
                font-size: 32px;
                font-weight: 600;
                color: #009fe8;
                padding-left: 67px;
                @include mq(sp) {
                    font-size: 21px;
                    padding-left: 0;
                    line-height: 1.3;
                }
            }
            & p {
                font-size: 20px;
                font-weight: 400;
                padding: 42px 0 49px;
                @include mq(sp) {
                    font-size: 12px;
                    padding: 21px 0 26px;
                    line-height: 1.3;
                }
            }
        }

        &-pack {
            max-width: 961px;
            height: auto;
            & p {
                margin-bottom: 17px;
            }
            & img {
                width: 100%;
                height: auto;
            }
            &02 {
                margin: 68px 0;
            }
        }
    }
    &__cardbox {
        display: flex;
        justify-content: space-between;
        @include mq(sp) {
            display: block;
        }
        &-img {
            width: 100%;
            height: auto;
            @include mq(sp) {
                width: 100%;
                height: auto;
                padding: 0 5%;
                margin: 0 auto 8px;
            }
        }
        &-txt {
            text-align: left;
            font-size: 16px;
            margin-top: 4px;
            @include mq(sp) {
                font-size: 12px;
            }
        }
    }
    &__contents03 {
        max-width: 1150px;
        height: auto;
        padding: 56px 5% 76px;
        margin: 0 auto;
        background-color: #c3fcf1;
        @include mq(sp) {
            width: 100%;
            height: auto;
            padding: 0;
            padding: 19px 0 41px;
        }
        &-ttl {
            font-size: 32px;
            font-weight: 600;
            color: #009fe8;
            line-height: 1.3;
            @include mq(sp) {
                font-size: 21px;
            }
        }
        &-txt {
            font-size: 20px;
            margin: 41px 0 52px;
            @include mq(sp) {
                font-size: 12px;
                padding: 30px 0;
                line-height: 1.3;
                margin: 0;
            }
        }
        &-txtbox {
            text-align: center;
        }
        &-img {
            width: 100%;
            height: auto;
            margin: 0 auto;
            @include mq(sp) {
                width: 100%;
                height: auto;
                padding: 0 5%;
            }
        }
    }
    &__warningnote {
        text-align: center;
        margin-top: 15px;
        font-size: 18px;
        @include mq(sp) {
            width: 226px;
            font-size: 12px;
            margin: 0 auto;
            text-align: left;
        }
    }
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  FLOW Q&A
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.flowqa {
    height: auto;
    position: relative;
    @include mq(sp) {
        height: auto;
    }
    &__bg {
        width: 100%;
        height: 2000px;
        background-image: url(../img/flowqa_bg.png);
        background-size: contain;
        overflow: hidden;
        position: absolute;
        z-index: -999;
        @include mq(sp) {
            height: 3000px;
            background-image: url(../img/flowqa_bg_sp.png);
        }
    }
    &__inner {
        padding: 87px 5% 92px;
        @include mq(sp) {
            padding: 37px 0 46px;
        }
    }
    &__qa {
        margin-top: 108px;
        @include mq(sp) {
            margin-top: 81px;
            padding: 0 5%;
        }
    }
    &__ttl {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 59px;
        letter-spacing: 7px;
        @include mq(sp) {
            font-size: 20px;
            margin-bottom: 32px;
        }
    }
    &__img {
        max-width: 1073px;
        height: auto;
        margin: 0 auto;
        @include mq(sp) {
            width: 100%;
            height: auto;
            padding: 0 5%;
        }
    }
}

.qa {
    &__contents {
        max-width: 1073px;
        height: auto;
        margin: 0 auto;
        padding: 77px 56px 77px;
        background: $white;
        border: 8px solid #6ee5d3;
        @include mq(sp) {
            width: 100%;
            padding: 20px 24px 10px;
        }
    }
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  FORM
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.mailform {
    background-color: $white;
    &__contents {
        padding: 120px 5% 129px;
        background-color: $white;
    }
    &__ttl {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 55px;
        letter-spacing: 10px;
        @include mq(sp) {
            font-size: 20px;
        }
    }

    &__contents {
        max-width: 960px;
        margin: 0 auto;
        @include mq(sp) {
            max-width: none;
        }
        & dl {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            &:not(:nth-child(6),:nth-child(7)){
                border-bottom: 1px solid #cccccc;
                @include mq(sp) {
                    border-bottom: none;
                }
            }
            @include mq(sp) {
                display: block;
            }
        }
        & dt {
            padding: 40px 0 50px;
            text-align: right;
            font-size: 20px;
            @include mq(sp) {
                text-align: left;
                padding: 0;
                margin-bottom: 6px;
            }
            & span {
                font-size: 14px;
                background-color: red;
                margin-right: 64px;
                padding: 8px 16px;
                color: $white;
                border-radius: 5px;
                @include mq(sp) {
                    margin-right: 5px;
                    padding: 4px 11px;
                }
            }
        }
        & dd {
            max-width: 596px;
            padding: 30px 0 25px 0;
            justify-content: end;
            @include mq(sp) {
                width: 100%;
                padding: 6px 0 25px 0;
            }
            & ul li {
                margin-bottom: 22px;
                & label {
                    display: flex;
                    align-items: center;
                    & input {
                        margin-right: 12px;
                        @include mq(sp) {
                            margin-right: 5px;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
        &-input {
            @include mq(sp) {
                width: 100%;
                margin: 0 auto;
            }
            & dd {
                & input {
                    width: 400px;
                    height: 38px;
                    margin-left: auto;
                    font-size: 18px;
                    @include mq(sp) {
                        width: 100%;
                        height: 46px;
                    }
                }
            }
        }
        &-select {
            @include mq(sp) {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
    &__pp {
        max-width: 797px;
        height: 77px;
        background-color: #EEEEEE;
        margin: 0 auto;
        @include mq(sp) {
            width: 100%;
            height: 77px;
            margin: 0 auto;
        }
        & dd {
            max-width: 797px;
            margin: 0 auto;
            @include mq(sp) {
                width: 337px;
                height: 77px;
                padding: 23px 0 0 0;
                display: block;
            }
        }
        & label {
            display: flex;
            justify-content: center;
            align-items: center;
            @include mq(sp) {
                font-size: 14px;
                font-weight: 400;
                justify-content: center;
            }
            & input {
                @include mq(sp) {
                    width: 30px;
                    height: 30px;
                    margin-right: 0;
                }
            }
        }
    }
    &__submit {
        margin: 59px auto 0 auto;
        text-align: center;
        & input {
            width: 464px;
            height: 77px;
            color: $white;
            font-size: 24px;
            font-weight: bold;
            background-color: #0DB99F;
            border: 2px solid $white;
            box-shadow: 0px 5px 10px $black;
            border-radius: 10px;
            @include mq(sp) {
                width: 70%;
                font-size: 20px;
            }
            &:hover {
                background-color: #6dd7c7;
            }
            &:disabled {
                background-color: #EEE;
                box-shadow: none;
            }
        }
    }
}

//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
//  COMPONENT
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––


//  BOTTUN
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

.btnbox {
    max-width: 948px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 5%;
    @include mq(sp) {
        width: 100%;
    }
    &-btn {
        width: 464px;
        height: 77px;
        font-size: 24px;
        font-weight: bold;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid $white;
        box-shadow: 0px 5px 10px #666;
        @include mq(sp) {
            width: 100%;
            height: 42px;
            font-size: 12px;
            text-align: center;
        }
        &01 {
            margin-right: 20px;
            background-color: #ff4e7e;
            &:hover {
                background-color: #f47a9b;
            }
            @include mq(sp) {
                margin-right: 10px;
            }
        }
        &02 {
            background-color: #004cc9;
            &:hover {
                background-color: #5e84c1;
            }
        }
    }
    &__hd {
        display: flex;
        justify-content: space-between;
        @include mq(sp) {
            width: 350px;
            height: 63px;
            margin: 0 auto;
            align-items: center;
        }
        &-btn {
            height: 48px;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            border: 2px solid $white;
            &01 {
                width: 176px;
                font-size: 15px;
                background-color: #ff4e7e;
                &:hover {
                    background-color: #f47a9b;
                }
            }
            &02 {
                width: 202px;
                margin-left: 8px;
                font-size: 13px;
                background-color: #004cc9;
                text-align: center;
                & span {
                    font-size: 11px;
                    @include mq(sp) {
                        font-size: 8px;
                    }
                }
                &:hover {
                    background-color: #5e84c1;
                }
            }
            @include mq(sp) {
                width: 180px;
            }
        }
    }
    &__pack {
        margin-top: 40px;
        @include mq(sp) {
            margin-bottom: 27px;
        }
    }
    &__pickup {
        margin-top: 40px;
        @include mq(kv) {
            margin-top: -40px;
        }
        @include mq(sp) {
            margin-top: -70px;
            margin-bottom: 27px;
        }
    }
    &__merit01 {
        margin-top: 76px;
    }
    &__merit03 {
        margin-top: 111px;
        @include mq(sp) {
            margin-top: 40px;
        }
    }
    &__otherpack {
        margin-top: 125px;
        @include mq(sp) {
            margin-top: 31px;
        }
    }
}

//  Accordion
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
.acditem {
    max-width: 960px;
    height: auto;
    margin-bottom: 16px;
    @include mq(sp) {
        width: 100%;
        margin-bottom: 10px;
    }
    &__hd {
        background-color: #D4F2EF;
        font-size: 24px;
        padding: 20px 26px;
        text-align: left;
        position: relative;
        z-index: +1;
        cursor: pointer;
        transition-duration: 0.2s;
        display: flex;
        @include mq(sp) {
            padding: 10px 9px;
            font-size: 15px;
        }
        &:hover {
            opacity: 0.8;
        }
        &.open  .i_box {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        & span {
            font-size: 50px;
            color: #0DB99F;
            line-height: 0;
            margin-right: 16px;
            @include mq(sp) {
                font-size: 25px;
            }
        }
        &-q {
            font-size: 50px;
            color: #0DB99F;
            line-height: 0;
            margin-top: 12px;
            margin-right: 17px;
            @include mq(sp) {
                font-size: 25px;
                margin-right: 5px;
            }
        }
        &-txt {
            font-size: 24px;
            line-height: 1.3;
            @include mq(sp) {
                font-size: 15px;
            }
        }
    }
    &__inner {
        box-shadow: 0px 0px 0px 4px #D4F2EF inset;
        // border: 4px solid #D4F2EF;
        display: none;
        @include mq(sp) {
            padding: 10px 10px 0 10px;
        }
        &-ansbox {
            height: 90px;
            padding: 26px 0 0 28px;
            display: flex;
            @include mq(sp) {
                height: 80px;
                padding: 0;
            }
        }
        &-a {
            font-size: 50px;
            color: #0C7ED1;
            margin-top: -5px;
            margin-right: 22px;
            @include mq(sp) {
                font-size: 20px;
                margin-right: 5px;
                margin-top: 0px;
            }
        }
        &-txt {
            font-size: 16px;
            line-height: 1.3;
            @include mq(sp) {
                font-size: 13px;
            }
        }
    }
}

.i_box {
    content:"";
    display:block;
    width: 12px;
    height: 12px;
    border-top: $black 2px solid;
    border-right: $black 2px solid;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position:absolute;
    right: 2%;
    top: 0;
    bottom: 15%;
    margin: auto;
    @include mq(sp) {
        right: 5%;
    }
}
.acditem__inner p.txt_a_ac {
    margin: 0;
}

//  PAGE TOP
//–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

#page_top{
    width: 80px;
    height: 80px;
    position: fixed;
    right: 0;
    bottom: 2.5rem;
    z-index: 3;
    @include mq(sp) {
        width: 60px;
        height: 60px;
    }
}
#page_top a{
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
    @include mq(sp) {
        width: 60px;
        height: 60px;
    }
}
